// Override bootstrap variables
$theme-colors: (
  "primary": #ff9500,
  "secondary": #5100ff,
  "success": #4caf50,
  "danger": #f44336
);

$body-bg: #f5f5f5;
$body-color: #303030;
$font-family-base: 'Inter', sans-serif;

// Import Bootstrap after overrides
@import 'bootstrap/scss/bootstrap';
