// Override bootstrap variables
$theme-colors: (
  "primary": #ffa500,
  "success": #00ed08,
  "danger": #ff1100
);

$body-bg: #f5f5f5;
$body-color: #303030;
$font-family-base: 'Inter', sans-serif;

// Import Bootstrap after overrides
@import 'bootstrap/scss/bootstrap';
